@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --backgroundColor: #0A0A0A;
  --whiteText: #E3E3E3;
  --blackText: ;
  --greyText: #A1A1A1;
}

body {
  background-color: var(--backgroundColor);
  color: var(--whiteText);
  font-family: 'Roboto', sans-serif;
}

* {}

.sticky {
  position: fixed;
}

nav {
  display: flex;
  flex-direction: row;
  height: 80px;
  width: calc(100vw - 10px);
  padding: 0 55px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: var(--backgroundColor);
  /* border-bottom: white; */
}

.navbar-container {
  display: flex;
  align-items: center;
}

.navbar {
  /* display: flex; */
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--greyText);
}

a:hover {
  color: var(--whiteText);
}

.navbar li a {
  padding: 10px;
  font-weight: 500;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding-top: 110px;
  text-align: center;
  height: 100vh;
}

#about {
  height: calc(100vh - 110px);
  padding: 100px 100px; 
}

#projects, #contact {
  height: 100vh;
  padding: 100px 100px; 
}

.my-profile {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.name {
  color: var(--greyText);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

.title {
  font-size: 6rem;
  text-transform: capitalize;
  color: var(--whiteText);
}

.introduction {
  width: 20%;
  color: var(--greyText);
}

.portfolio-btn {
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: transparent;
  color: #fff;
}

.portfolio-btn:hover {
  border: 1px solid var(--greyText);
  color: var(--greyText);
}

.about-container {
  margin-top: 40px;
  margin-left: 300px;
}

.overview {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: var(--greyText)
}

.skillset {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 50px;
  color: var(--greyText);
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.skill:hover {
  color: var(--whiteText);
}

.project-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

.project-info {
  width: 30%;
}

.project-info p {
  color: var(--greyText)
}

.stack {
  color: var(--greyText);
  line-height: 0%;
}

.project-title h1 {
  color: var(--whiteText);
  font-size: 4rem;
  line-height: 1;
}

.project-img {
  align-self: flex-end;
}

